In [1]:
import json 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = []
archivos=['./Maps/Sitios/1.json']
for archivo in archivos:
    with open(archivo, 'r') as file:
        for line in file:
                data.append(json.loads(line))
df1 = pd.DataFrame(data)

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275001 entries, 0 to 275000
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              274994 non-null  object
 1   address           264939 non-null  object
 2   gmap_id           275001 non-null  object
 3   description       13155 non-null   object
 4   latitude          275001 non-null  float64
 5   longitude         275001 non-null  float64
 6   category          272740 non-null  object
 7   avg_rating        275001 non-null  float64
 8   num_of_reviews    275001 non-null  int64
 9   price             13450 non-null   object
 10  hours             192448 non-null  object
 11  MISC              194972 non-null  object
 12  state             195523 non-null  object
 13  relative_results  238771 non-null  object
 14  url               275001 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 31.5+ MB

In [4]:
import dtale

# Inicia dtale y abre el navegador para explorar tus datos de forma interactiva
dtale.show(df1)